* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("bg3.jpg");
    width: 100%;
}

#head {
    top: 10px;
    background-color: aqua;
    width: 90%;
    margin: 0 5%;
    text-align: center;
    transform: skew(-20deg);
    border: 2px blue solid;
}

#quiz-container {
    max-width: 600px;
    width: 600px;
    padding: 20px 0;
    background-color: cyan;
    border-radius: 10px;
    text-align: center;
}
#quiz-container div p {
    color: black;
}
#answer-button {
    width: 100px;
    background-color: white;
}
.btn-container {
    display: flex;
    justify-self: center;
    flex-direction: column;
    gap: 10px;
    margin: 0 12%;
}

#next-button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: green;
    padding: 0 50px;
}
#prev-button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: yellow;
    padding: 0 50px;
}
#submit-button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(67, 67, 153);
    padding: 0 50px;
}
.skor {
    display: none;
}
/* Tambahkan ini pada file style.css atau di dalam tag <style> di head */
.btn-container button.correct {
    background-color: #4CAF50; /* Hijau untuk jawaban yang benar */
    color: white;
}

.btn-container button.incorrect {
    background-color: #4CAF50; /* Merah untuk jawaban yang salah */
    color: white;
}
#timer {
    position: absolute;
    top: 15%;
    font-size: 2em;
}
@media (min-width: 320px) and (max-width: 767px){
    #quiz-container {
        max-width: 400px;
        width: 400px;
        padding: 20px 0;
        background-color: cyan;
        border-radius: 10px;
        text-align: center;
    }
    #answer-button {
        width: 100px;
        background-color: white;
    }
}
